{% load static %}

{% extends "/partials/*"}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Chartered Life</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script> -->
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}"> -->
        <link rel="stylesheet" href="{% static 'js/select.dataTables.min.css' %}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
      </head>
    <body>
        <div class="container-scroller">
   
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
              <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                  <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                  </button>
                </div>
                <div>
                  <a class="navbar-brand brand-logo" href="#">
                    <img src="{% static 'images/MBL_Logo.png' %}" alt="logo" />
                  </a>
                  <a class="navbar-brand brand-logo-mini" href="#">
                    <img src="{% static 'images/MBL_Logo.png' %}" alt="logo" />
                  </a>
                </div>
              </div>
              <div class="navbar-menu-wrapper d-flex align-items-center"> 
                <ul class="navbar-nav">
                  <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Premium Collection Portal, <span class="text-black fw-bold">Chartered Life</span></h1>
                    
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto">
            
                  <!-- <li class="nav-item d-none d-lg-block">
                    <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                      <span class="input-group-addon input-group-prepend border-right">
                        <span class="icon-calendar input-group-text calendar-icon"></span>
                      </span>
                      <input type="text" class="form-control">
                    </div>
                  </li> -->
                  {% if user_info is not None %}
                  <li class="nav-item">
                    <a href="" class="nav-link">{{user_info.email}}

                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">
                      <!-- <i class="mdi mdi-grid-large menu-icon"></i> -->
                      <span class="menu-title">Logout</span>
                    </a>
                  </li>
                  {% endif %}

               
                  <!-- {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">
                      <i class="mdi mdi-grid-large menu-icon"></i>
                      <span class="menu-title">Logout</span>
                    </a>
                  </li>
                  {% endif %} -->
              
                </ul>
                <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                  <span class="mdi mdi-menu"></span>
                </button> -->
              </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
              <!-- partial:partials/_settings-panel.html -->
              
           
              <!-- partial -->
              <!-- partial:partials/_sidebar.html -->
              <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/user_verify">
                      <i class="mdi mdi-home menu-icon"></i>
                      <span class="menu-title">Home</span>
                    </a>
                  </li>
                  {% if user_info.is_staff %}
                  <li class="nav-item">
                    <a class="nav-link" href="/registration">
                      <i class="mdi mdi-home menu-icon"></i>
                      <span class="menu-title">Create User</span>
                    </a>
                  </li>
                  {% endif %}
                  <!-- {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">
                      <i class="mdi mdi-grid-large menu-icon"></i>
                      <span class="menu-title">Logout</span>
                    </a>
                  </li>
                  {% endif %}
                  -->
        
             
                </ul>
              </nav>
              <!-- partial -->
              <div class="main-panel">

                <div class="content-wrapper">
                  
                  <div class="row">
                    <!-- <div class="col-sm-12">
                      <div class="home-tab">
                        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                          <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab" aria-selected="false">Audiences</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab" aria-selected="false">Demographics</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">More</a>
                            </li>
                          </ul>
                    
                        </div>
                       
                      </div>
                    </div> -->
        
                    {% block content %}

                    {% endblock content%}
                    
                  </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                  <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <!-- <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span> -->
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. All rights reserved by Mercantile Bank Ltd.</span>
                  </div>
                </footer>
                <!-- partial -->
              </div>
              <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
          </div>
       
        
    

          <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
    </body>
</html>