{% load static %}
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
      <div class="me-3">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
      </div>
      <div>
        <a class="navbar-brand brand-logo" href="{% url 'landing' %}">
          <img src="{% static 'images/MBL_Logo.png' %}" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'landing' %}">
          <img src="{% static 'images/MBL_Logo.png' %}" alt="logo" />
        </a>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center"> 
      <ul class="navbar-nav">
        <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
          <h1 class="welcome-text text-black fw-bold"><span>Chartered Life Insurance Premium Collection</span></h1>
          
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
  
        <!-- <li class="nav-item d-none d-lg-block">
          <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
            <span class="input-group-addon input-group-prepend border-right">
              <span class="icon-calendar input-group-text calendar-icon"></span>
            </span>
            <input type="text" class="form-control">
          </div>
        </li> -->
        {% if user_info is not None %}
        <li class="nav-item">
          <a href="{% url 'profile' %}" class="nav-link">{{user_info.email}}

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <!-- <i class="mdi mdi-grid-large menu-icon"></i> -->
            <span class="menu-title">Logout</span>
          </a>
        </li>
        {% endif %}

    
      </ul>
      <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button> -->
    </div>
  </nav>
