{% load static %}


<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <!-- <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class="mdi mdi-login-variant menu-icon"></i>
          <span class="menu-title">Login</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class="mdi mdi-comment-question-outline menu-icon"></i>
          <span class="menu-title">FAQ</span>
        </a>
      </li>
      
     

 
    </ul> -->
  </nav>
  <!-- partial -->
