{% extends "base.html" %}

{% block content%}

        <!-- <h1>Data Verification</h1>
        
     

        <form action="./verified" method="POST">
            {% csrf_token %}
            <label for="userid">USERID:</label><br>
            <input type="text" id="userid" name="userid" value="50154800"><br>
            <label for="policynum">POLICY NUMBER:</label><br>
            <input type="text" id="policynum" name="policynum" value="0000060935"><br><br>
            <input type="submit" value="Submit">
          </form> -->



          <div class="col-md-10 grid-margin stretch-card" style="margin: 30px auto;">
            <div class="card" >
              <div class="card-body">
                <h4 class="card-title">Enter Policy Informations</h4>
                <!-- <p class="card-description">
                  Basic form layout
                </p> -->
                <form class="forms-sample"  action="{% url 'verify_input' %}" method="POST" onkeydown="return event.key != 'Enter';" >
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="policynum">Policy</label>
                      <input type="text" class="form-control" id="policynum" name="policynum" value="0000060935" placeholder="Policy" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="amount">Amount</label>
                      <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount" required>
                    </div>


                  </div>
                  <div class="row">
                  <div class="form-group col-md-6">
                    <label for="payermobileno">Contact No.</label>
                      <input type="text" class="form-control" id="payermobileno" name="payermobileno" placeholder="Payer Mobile No." style="margin: 10px 0px;" required>
                      <!-- <input type="text" class="form-control" id="lll" placeholder="Payfor" style="margin:10px 0px;" required> -->
                  </div>
                </div>
                <div style="display: flex; flex-direction: row-reverse;" >
                  <button type="button"  onclick="modalupdate()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                    Next
                  </button>
                  <!-- <button type="submit" class="btn btn-primary me-2" style="margin: 0px 5px;">Next</button> -->
                  <!-- <button class="btn btn-danger" style="margin: 0px 5px;">Cancel</button> -->
                  {% include 'modals/cfmSubmission.html' %}
                </div>
              </form>
              </div>
            </div>
            
            
          </div>

          <!-- MODAL -->
          
        
    
 {% endblock content %}